#top {
   z-index          : 1000;
   position         : fixed;
   top              : 0;
   left             : 0;
   width            : 100%;
   height           : 100px;
   margin           : 0;
   border-bottom    : 1px solid rgba(0, 0, 0, .5);
   background-color : #5a0c0c;
   text-align       : center;
   line-height      : 100px;
   letter-spacing   : 2.5px;
   transition       : .1s;
}

#top a:link {
   color      : #1c1c1c;
   transition : .25s;
}

#top a:visited {
   color : #1c1c1c;
}

#top a:hover {
   color : white;
}

#top ul {
  padding: 0;
  height: 100px;
  margin: 0;
  list-style: none;
}

#top ul li {
  font-size: 1.5em;
  text-transform: uppercase;
  display: inline-block;
  width: 150px;
}

#top img {
  position: fixed;
  left: 20px;
  height: 75px;
  margin: 12.5px 0;
  float: left;
  opacity: .8;
}

.selected {
  color: white;
  height: 100px;
  background-color: #1c1c1c;
  border: 1px solid rgba(0, 0, 0, .5);
  border-bottom: none;
}
