#about {
   display: none;
   height : 1225px;
}

#about img {
   position      : absolute;
   bottom        : 0;
   left          : 0;
   width         : 100%;
   opacity       : .2;
   border-radius : 20px;
}

.header-img {
   position   : relative;
   width      : 100%;
   height     : 100px;
   margin-top : 25px;
   opacity    : .6;
   border     : 1px solid rgba(0, 0, 0, 0.5);
   transition : .25s;
}

.header-img:hover {
   opacity : .8;
}

#history-img {
   position : relative;
}

#history-img:after {
   content         : "";
   position        : absolute;
   top             : 0;
   right           : 0;
   bottom          : 0;
   left            : 0;
   background      : url("../img/history-img.jpg") no-repeat center;
   background-size : cover;
}

#about-img {
   position : relative;
}

#about-img:after {
   content         : "";
   position        : absolute;
   top             : 0;
   right           : 0;
   bottom          : 0;
   left            : 0;
   background      : url("../img/about-img.jpg") no-repeat center;
   background-size : cover;
}

#special-img {
   position : relative;
}

#special-img:after {
   content         : "";
   position        : absolute;
   top             : 0;
   right           : 0;
   bottom          : 0;
   left            : 0;
   background      : url("../img/special-img.jpg") no-repeat center;
   background-size : cover;
}

#about p {
   padding    : 10px 30px;
   text-align : justify;
   transition : .25s;
}

#about p:hover {
   background-color : rgba(0, 0, 0, 0.2);
}
